* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* :root{
    font-family: 'Gotham';
    font-weight: 500;
    font-style: normal;
} */

body{
    background: #E9ECEF;
    transition: .3s ease all;
}

.calculator-main-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px); /*Esto permite que el numero ingresado pueda expandirse todo lo que sea necesario*/
}

.calculator-main-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #2B2D42;
    font-family: 'Gotham';
    outline: none;
    background-color: #6C757D;
    color: #EDF2F4;
}

.calculator-main-grid button:hover{
    background-color: #495057;
    /* opacity: 0.5; */
    color: #EDF2F4;
}

.span-two{
    grid-column: span 2;
}

.screen-operand{
    grid-column: 1/-1;
    background-color: #212529;
    /* border: 1px solid #212529; */
    /* opacity: 0.5; */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all; /*Permite que si el numero es muy largo, se parta y continue abajo*/
    font-family: 'Gotham';
}

.screen-operand .previous-operand{
    color: #EDF2F4;
    font-size: 1.5rem;
}

.screen-operand .current-operand{
    color: #EDF2F4;
    font-size: 2.5rem;
}

/* Boton DarkMode - Inicio */

.darkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 80px;
}

.darkbox p{
    font-size: 1rem;
    font-family: 'Gotham';
    color: #343D5B;
}

.switch{ /*Aqui seteo la caja que contiene el sol y la luna*/
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{ /*Aqui seteo el boton redondo*/
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active{
    background: orange;
    color: #212529;
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
/* Boton DarkMode - Fin */

/* DARKMODE */
body.darkmode{
    background: #212529;
}

.darkmode .screen-operand{
    background-color: #ADB5BD;
}

.darkmode .screen-operand .previous-operand{
    color: #212529;
    font-size: 1.5rem;
}

.darkmode .screen-operand .current-operand{
    color: #212529;
    font-size: 2.5rem;
}

.darkmode .calculator-main-grid button {
    border: 1px solid #F8F9FA;
    background-color: #CED4DA;
    color: #212529;
}

.darkmode .calculator-main-grid button:hover{
    background-color: #495057;
    color: #EDF2F4;
}

.darkmode .darkbox p{
    color: #E9ECEF;
}


